{% extends "Header-Footer.html.twig" %}
{% block javascripts %}
<script>
$(document).ready(function(){
    $("#New_line").click(function(){
        $.ajax({
        url: "/Formulaire/Create_Ligne/",
        type:"POST",
        data:{
        id: {{ formulaire.getID() }},
        },
        success:function(response) {
            console.log("OK");
            $( "#ul-line" ).html(response);
            sendscreen();
        },
        error:function(){
            console.log("KO");
        }
        });
    });
    $("#Delete_Forms").click(function(){
        $.ajax({
        url: "/Formulaire/Delete_Forms/",
        type:"POST",
        data:{
        Id_Forms: {{ formulaire.getID() }},
        },
        success:function(response) {
            console.log("OK"); 	 
            $(location).attr('href', '/') 
        },
        error:function(){
            console.log("KO");
        }
        });
    });
    
    $('body').on('click', '#Restore_Forms', function(){
        $.ajax({
        url: "/Formulaire/Restore_Forms/",
        type:"POST",
        data:{
        id: {{ formulaire.getID() }},
        },
        success:function(response) {
            console.log("OK");
            $( "#ul-head" ).html(response);
        },
        error:function(){
            console.log("KO");
        }
        });
    });
    $('body').on('click', '#Unvalider_Forms', function(){
        $.ajax({
        url: "/Formulaire/Unvalider_Forms/",
        type:"POST",
        data:{
        id: {{ formulaire.getID() }},
        },
        success:function(response) {
            console.log("OK"); 	 
            $( "#ul-head" ).html(response);
        },
        error:function(){
            console.log("KO");
        }
        });
    });
    $('body').on('click', '#Valider_Forms', function(){
        $.ajax({
        url: "/Formulaire/Valider_Forms/",
        type:"POST",
        data:{
        id: {{ formulaire.getID() }},
        },
        success:function(response) {
            console.log("OK");
            $( "#ul-head" ).html(response);
        },
        error:function(){
            console.log("KO");
        }
        });
    });
    $('body').on('click', '#Delete', function(){
        $.ajax({
            url: "/Formulaire/Delete_Ligne/",
            type:"POST",
            data:{
            id: $(this).attr("data-id"),
            },
            success:function(response) {
                console.log("OK"); 	  
                $( "#ul-line" ).html(response);
                sendscreen();
            },
            error:function(){
                console.log("KO");
            }
        });
    });
    $('body').on('click', '#Clone', function(){
        $.ajax({
            url: "/Formulaire/Clone_Ligne/",
            type:"POST",
            data:{
            Id_Forms: {{ formulaire.getID() }},
            id: $(this).attr("data-id"),
            },
            success:function(response) {
                console.log("OK"); 	  
                $( "#ul-line" ).html(response);
                sendscreen();
            },
            error:function(){
                console.log("KO");
            }
        });
    });
    $('body').on('click', '#Delete_Inline', function(){
        $.ajax({
            url: "/Formulaire/Delete_InLine/",
            type:"POST",
            data:{
            Id_Forms: {{ formulaire.getID() }},
            id: $(this).attr("data-id"),
            },
            success:function(response) {
                console.log("OK"); 	  
                $( "#ul-line" ).html(response);
                sendscreen();
            },
            error:function(){
                console.log("KO");
            }
        });
    });
    $('body').on('click', '#Add_Groups_diffusion', function(){
        $.ajax({
            url: "/Formulaire/Add_Groups_diffusion/",
            type:"POST",
            data:{
            Id_Forms: {{ formulaire.getID() }},
            id: $(this).attr("data-id"),
            },
            success:function(response) {
                console.log("OK");
                $( "#ul-head" ).html(response);
                sendscreen();
            },
            error:function(){
                console.log("KO");
            }
        });
    });
    $('body').on('change', '#selectGroups', function(){
        $.ajax({
            url: "/Formulaire/Change_Groups_diffusion/",
            type:"POST",
            data:{
                Id_Forms: {{ formulaire.getID() }},
                id: $(this).attr("data-id"),
                Value : $(this).val()
            },
            success:function(response) {
                console.log("OK");
                $( "#ul-head" ).html(response);
                sendscreen();
            },
            error:function(){
                console.log("KO");
            }
        });
    });
    $('body').on('click', '#Delete_Groups_diffusion', function(){
        $.ajax({
            url: "/Formulaire/Delete_Groups_diffusion/",
            type:"POST",
            data:{
            Id_Forms: {{ formulaire.getID() }},
            id: $(this).attr("data-id"),
            },
            success:function(response) {
                console.log("OK");
                $( "#ul-head" ).html(response);
                sendscreen();
            },
            error:function(){
                console.log("KO");
            }
        });
    });
    $('body').on('change', '#selectinline', function(){
        $.ajax({
            url: "/Formulaire/Change_Ligne/",
            type:"POST",
            data:{
                Id_Forms: {{ formulaire.getID() }},
                Id : $(this).attr("data-id"),
                Name : $(this).attr("name"),
                Value : $(this).find(':selected').val()
            },
            success:function(response) {
                console.log("OK");
                $( "#ul-head" ).html(response);
                sendscreen();
            },
            error:function(){
                console.log("KO");
            }
        });
    });
    $('body').on('focusout', '.Create_inligne', function(){
        $.ajax({
            url: "/Formulaire/Create_InLigne/",
            type:"POST",
            data:{
                Id_Forms: {{ formulaire.getID() }},
                Id_Ligne: $(this).attr("data-id"),
                Value : $(this).val()
            },
            success:function(response) {
                console.log("OK"); 	  
                $( "#ul-line" ).html(response);
                sendscreen();
            },
            error:function(){
                console.log("KO");
            }
        });
    });
    $('body').on('focusout', '.change_ligne , input[type=date]', function(){
        $.post( "/Formulaire/Change_Ligne/", { Id_Forms: {{ formulaire.getID() }},Id: $(this).attr("data-id"), Name : $(this).attr("name"), Value : $(this).val() } );
    });
    $('body').on('change', 'input[type=checkbox]', function(){
        $.post( "/Formulaire/Change_Ligne/", { Id_Forms: {{ formulaire.getID() }},Id: $(this).attr("data-id"), Name : $(this).attr("name"), Value : $(this).prop('checked') } );
    });
    $('body').on('change', '.change_inligne', function(){
        $.post( "/Formulaire/Change_InLigne/", { Id_Forms: {{ formulaire.getID() }},Id: $(this).attr("data-id"), Value : $(this).val() } );
    });
    $('body').on('change', '.change_Forms', function(){
        $.post( "/Formulaire/Change_Forms/", { Id_Forms: {{ formulaire.getID() }}, Value : $(this).val() } );
    });
    function sendscreen(){
        html2canvas(document.querySelector(".container"),{
            dpi: 144}
            ).then(canvas => {
            $.post( "/Formulaire/Save_Img/", { T_Slug: "{{app.request.get('T_Slug')}}",base64: canvas.toDataURL() } );
        });
    }
    sendscreen();
});
</script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Option
            </div>
            {{ include('Formulaire/header.html.twig') }}
        </div>
        <div class="card">
            <div class="card-header">
                Formulaire
            </div>
            {{ include('Formulaire/ligne.html.twig') }}
            <button class='btn btn-primary' id="New_line">Ajouter ligne</button>
        </div>
{% endblock %}