<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PROJECT BTS{% endblock %}</title>
        <script src="{{ asset('jquery.min.js') }}"></script>
        <script src="{{ asset('jquery-ui.min.js') }}"></script>
        <script src="{{ asset('popper.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('bootstrap.css') }}">
        <script src="{{ asset('bootstrap.min.js') }}"></script>
        <script src="{{ asset('Sortable.min.js') }}"></script>
        <script src="{{ asset('html2canvas.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('fontawesome/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/brands.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/regular.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/solid.css') }}">
        <link rel="stylesheet" href="{{ asset('main.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
    {% block javascripts %}{% endblock %}
            {% if utils.getID() is defined %}
                <nav class="navbar navbar-expand navbar-dark bg-purple">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                        </ul>
                        <div class="form-inline btn-group" role="group">
                            <div class="btn-group">
                                <button type="button" class="btn bg-purple dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ utils.getPseudo() }}
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    {% if utils.getAdmin() == 1 %}
                                        <a href="/Admin/Menu/" class="dropdown-item">Paramétrage</a>
                                    {% endif %}
                                    <a href="" class="dropdown-item">Mot de passe oublier</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/Deconnexion/" type="button" class="dropdown-item">Déconnexion</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            {% endif %}
    {% block body %}{% endblock %}
    </body>
</html>