{% if loop.index0 % 4 == 0 %}
    <div class="row">
{% endif %}
<a class="btn btn-outline-link col-sm-3" href="/Formulaire/Read/{{ formulaire.getSlug() }}" role="button">
    {% if formulaire.getVisible() == 1 %}
        <div class="card">
    {% else %}
        <div class="card bg-red">
    {% endif %}
        <div class="card-inner">
            <div class="image" id="img{{formulaire.getId()}}">
                <img src="{{ asset("img/" ~ formulaire.getSlug() ~ ".png") }}" alt="">
            </div>
            <div class="content">
                <h5>{{formulaire.getTitre()}}</h5>
                <p>
                    Crée par : {{formulaire.getIdUtilsCrea().getPrenom()}}
                    <br>
                    Crée le : {{formulaire.getDateCrea()|date("d/m/Y")}}
                </p>
            </div>
        </div>
    </div>
</a>
{% if loop.index0 % 4 > 3 and loop.last %}
    </div>
{% endif %}